body {
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 204);
}

.form-control {
    border: 2px solid rgb(167, 167, 167);
}

.tablita {
    display: flex;
    background-color: white;
    border-radius: 6px;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
}

.aire {
    height: 100px;
}